.dropdown-menu {
  position: absolute;
  background-color: #fff;
  margin-left: 0;
  list-style: none;
  top: 100%;
  z-index:1070;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.dropdown-menu.place-right {
  right: 0;
  left: auto;
}
.dropdown-menu a {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size:12px!important;
  letter-spacing: 0.01em;
  line-height: 14pt;
  font-smooth: always;
  color: #000000;
  display: block;
  /*width: 100%;*/
  padding: 3px 20px;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}
.dropdown-menu a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu a:active {
  color: rgba(0, 0, 0, 0.4);
}
.dropdown-menu a:hover {
  background-color: #2d89ef !important;
  color: #ffffff !important;
}
.dropdown-menu li {
  display: list-item;
  line-height: 20px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu.open {
  display: block !important;
}