
<span id="conteudo-titulo" class="box-com-titulo-header">Agenda da Turma</span>
<?php $session->flash(); ?>
<div id="conteudo-container">
    <div class="container-tabela">
        <?php
        echo $listaAgenda->html($data, $this->params['controller']);
        ?>
    </div>
</div>