#nav { margin-bottom:0; margin-top:20px; font-size:12px }
#nav ul,ol { margin-bottom:0 }
#nav li a { color:#333333 }
#nav li a i { margin-top:-1px; margin-right:2px }
#nav li a:hover { color:#333333; }
#nav li.active a { font-weight:bold; /*background-color: whiteSmoke*/ }
.tabbable-bordered > .tab-content { padding:0; min-height:250px }
input { padding:2px 4px!important; font-size:12px!important }
.paginacao { float:right; height:auto; display:inline-block; margin:0 10px; padding:17px 0; }
.paginacao ul { margin-left:10px }
.paginacao ul li a { line-height:20px; padding:0 10px; }
.paginacao ul li a i { font-size:11px }
.destaque { padding:1px; margin:0 1px; color:black; font-weight:bold; border-radius:3px; background-color:yellow; }
.paginacao .desc { display:inline-block; line-height:20px; vertical-align:top }
.collapse { float:left; width:100%; }
.accordion .panel { position:relative; float:left; display:block; width:100% }
.accordion .panel .load { width:26px; margin:0 auto; padding:10px 0 }
.accordion-group { position:relative; float:left; width:100%; margin:0;
	border:none; border-top:solid 1px #DDDDDD }
.accordion-group:last-child { border-bottom:solid 1px #DDDDDD }
.accordion-group:nth-child(even) { background-color:#F7F7F7 }
.accordion-inner { padding:9px 6px; background-color:white; /*background-image:url("<?=$this->webroot?>img/8x8.png")*/ }
.accordion-inner .load { width:26px; margin-left:60px }
.accordion-inner .alert { margin:0 }
.accordion-inner .alert h4 { font-size:16px; margin-bottom:5px }
.accordion-inner .alert-block { padding:10px; padding-right:35px }
.tm { position:relative; float:left; display:block; width:100%; margin-top:0px }
.tm input:first-child { margin-bottom:0; margin-left:8px }
.hm { position:relative; }
.hm .c, .tm .c { float:left; position:relative; padding:6px 0; line-height:19px; }
.tm .c { padding:12px 0; }
.hm .c div, .tm .c div { margin:0 }
.tm .actions { position:relative; width:60%; margin-left:40px; }
.tm .actions .btn-group { display:inline-block }
.tm .subactions { position:relative; width:90%; display:none; margin-left:70px; padding:0; padding-bottom:8px }
.tm .c .checker { margin-top:5px; height:27px; }
.check, .favorite, .pendencia { width:30px; text-align:center; cursor:pointer }
.pendencia i { position:relative; display:inline-block; top:1px; font-size:16px; color:#D10A0F }
.pendencia i.as { width:16px; height:16px; top:2px;
	background-image:url("../images/icons/as.gif"); background-repeat:no-repeat }
.pendencia i.green { color:green }
.favorite:before { position:relative; content:''; display:block; width:16px; height:16px; top:1px;
	left:7px; background-image:url("../images/stars_min.png"); background-position:0px 32px }
.favorite:hover:before { background-position:0px 16px }
.favorite.off:before { background-position:0px 0px }
.favorite.off:hover:before { background-position:0px 48px }
.hm .title { position:relative; width:86%; font-size:12px; margin-top:1px }
.hm .title.nao-lida { font-weight:bold; color:#D10A0F }
.hm .title.nao-lida .t:not(.data):hover { color:#780E00 }
.hm .title.descartada .t { text-decoration: line-through }
.hm .title .t { float:left; padding:0; cursor:pointer }
.hm .title .nome { width:18%; margin-left:10px; }
.hm .title .assunto { width:67% }
.hm .title .data { width:13%; color:#575756; text-align:right; font-weight:normal }
.btn-action {
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	color: #444;
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px!important;
	-moz-border-radius: 2px!important;
	border-radius: 2px!important;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right:3px;
	height: 27px;
	line-height:25px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
}
.btn-action .icon { margin-top:0; width:19px }
.texto { margin:10px; background:white; border-radius:4px; -webkit-box-shadow: 0px 0px 18px rgba(184,184,184,.8);
-moz-box-shadow:    0px 0px 18px rgba(184,184,184,.8);
box-shadow:         0px 0px 18px rgba(184,184,184,.8);  }
.texto div.i { display:block; width:100%; padding:10px }
.texto div.i input { margin-bottom:0; padding:4px; padding-bottom:3px; vertical-align:top; font-size:12px }
.texto div.i:first-child { padding-bottom:0 }
.texto .info { font-style:italic; line-height:20px }
.texto .corpo p,
.texto .corpo span { margin:0; padding:0 }
.texto .anexos .btn-action {
	display:inline-block;
	margin-right:10px;
	height:22px;
	line-height:20px;
	min-width:44px;
	outline: 0;
	padding: 0 6px;
}
.load-message { position:fixed; top:2%; left:40%; display:none; width:15%; padding:.5% 0;
	background:#404040; text-align:center; border-radius:5px; color:white; z-index:9999;
	font-weight:bold; }
.load-message.centro { top:35% }
.load-message[type="error"] { background:#BD362F }
.load-message[type="sucess"] { background:#51A351 }
.resposta label { font-weight:normal }
.resposta .iconic-x.remover-para { margin-left:3px }
.resposta .iconic-x.remover-para:hover { color:red }
.resposta .para { margin:0 2px 4px 0 }
.modal-body { max-height:initial }
.dropdown-min { min-width:140px;font-size:12px!important }
.dropdown-min li a { padding:2px 15px!important }
.typeahead { z-index:2000 }