/*
 * reset.css
 * Reset dos estilos  próprios de cada navegador evitando problemas de cross-browsers
 */

/*	Baseado:
	http://webdesign.about.com/od/css/a/master_stylesht_2.htm
*/

/* Global*/
 html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
 }

 body {
	 font-size: 12px/1.2 Arial, Helvetica, sans-serif;
 }
 
 /* Cabeçalhos */
 h1, h2, h3, h4, h5, h6 {
 	margin: 0;
	padding: 0;
 }
 
 /* Textos */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 	margin: 0;
	padding: 0;
 }
 
 /*listas*/
 
 dl, dt, dd, ul, li {
 	margin:0;
 	padding: 0;
	list-style: none;
 }
 
 /* Links e Imagens */
 a, a:link, a:visited, a:active, a:hover {
	 text-decoration: none;
 }

 img {
	 border: none;
 }
 
 /* Tabelas */
 table {
	 margin: 0;
	 padding: 0;
	 border: none;
 }
 
 /* Forms */
 form {
	 margin: 0;
	 padding: 0;
	 display: inline;
 }
 
 /* resets */
 
 .clear {
 	clear:both;
 }

/*
*	Desenvolvido por:
* 	Vinícius Oyama
*   www.viniciusoyama.com
*/