.div-sortable {
	position:relative;
	width:45%;
	float:left;
	margin-left:5%;
	padding:10px;
	border:solid 1px #999999;
	border-radius:4px;
}
.div-sortable.box {
	width:21%!important;
	margin-left:2%!important;
	margin-bottom:2%;
	border-color:#D8DCDF;
	border-radius:2px;
	border:none;
	-webkit-box-shadow: 0 7px 23px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 7px 23px rgba(0, 0, 0, 0.35);
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.35);
}
.div-sortable:nth-child(odd) { margin-left:0 }
.div-sortable.box:nth-of-type(4n+1) { margin-left:0!important }
.div-sortable .titulo {
	background: #A71009 url("../img/fundo_degrade_vermelho.jpg") repeat-x top left;
	text-indent: 20px;
	display: block;
	font-family: Myriad Pro;
	font-size: 13px;
	color: white;
	padding: 7px 0 5px 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.div-sortable.box .titulo {
	background:none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:0px;
	border-bottom:solid 1px #999999;
	color:#A71009;
	text-indent:0;
	font:400 18px Myriad Pro;
	padding:5px;
}
.div-sortable ul { min-height:20px }
.div-sortable.box ul li { padding:5px }
.div-sortable ul li {
	text-indent:15px;
	padding:10px;
	display: block;
	margin:5px 0;
	background: white url("../img/seta_cinza.png") no-repeat center left;
	font-size:15px;
	border-radius:4px;
}
.div-sortable ul li input {
	font-weight: bold;
	color: #004276;
	border:none!important;
	background:white!important;
}
.div-sortable ul li:first-child { margin-top:30px }
.div-sortable ul li:last-child { margin-bottom:0 }
.div-sortable ul li:hover { cursor:pointer }
.div-sortable ul.inativo li { border-color:#D8DCDF!important }
.div-sortable ul.inativo li input { color:#C0151B!important; }
.close {
	background: url("../img/remover_inline.png") no-repeat 0 0 transparent;
	width: 14px;
	height: 14px;
	float: right;
	display: block;
}
.close:hover { cursor:pointer; background: url("../img/remover_inline.png") no-repeat 0 -14px transparent; }