body { padding:0!important; position:initial!important }
.container.todo { width:90% }
header { margin-top:70px; border-bottom:1px solid #cccccc; margin-bottom:30px;
	padding-bottom:10px; }
.pointer { cursor:pointer }
#header-container { /*margin-left:0*/ }
#backbutton,#homeButton { display:none }
.content-loader { position:absolute; top:0; left:0; width:100%; background:white }
#content-home { z-index:1001 }
#content-loading { z-index:1002 }
#content-loading .cycle-loader { margin-top:164px }
#content-body { z-index:1003 }
i[rel='tooltip'] { display:inline-block }
label i { position:relative; top:2px; font-size:0.9em }
[rel='tooltip']:hover { text-decoration:none }
#menu-topo { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
#menu-topo .brand { padding:7px 20px 0!important }
#menu-topo .navbar-inner { background-color:#f07d00!important }
#menu-topo .nav > li > a { color:white; text-shadow:none; }
#menu-topo .nav > li > a > .caret { padding:0; vertical-align:bottom; line-height:18px }
#menu-topo .nav > li > a > .caret::after { content: "\e01a"; }
#menu-topo .nav > li.dropdown:hover .caret,
#menu-topo .nav > li.open .caret { opacity: 1; filter: alpha(opacity=100); }
#fade-load { position:absolute; z-index:999; min-height:500px; top:0; left:0; display:none; background:white }
#conteudo-load { position:absolute; z-index:1000; top:0; left:0; min-height:300px; display:none; background:white }
#conteudo { overflow:hidden; }
#top-info { position:relative; height:100%; min-height:60px;}
#top-info > a > b { cursor:pointer }
#top-info > a > b:before { margin:0!important }
#top-info > a.perfil { width:60px; height:60px; max-height: 60px; overflow: hidden; -webkit-border-radius:4px;
	-moz-border-radius:4px; border-radius:4px; border-color:transparent }
#top-info > a.perfil img { -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#top-info .user-info { min-height:60px; padding-right:60px; margin-right:10px;
    border-right:solid 1px rgba(0, 0, 0, 0.4); font-size: 14px }
.cycle-loader { width:64px; height:64px; margin:auto;
	background-image:url('../../img/loader-cycle-black.gif'); }
.cycle-loader.white { background-image:url('../../img/loader-cycle-white.gif'); }
.div-logo { position:relative }
#nav-bar .win-backbutton { top:0 }
a.close { line-height:30px!important }
footer { float:left; width:100%; background-color:gray; padding:10px 0;
    margin:20px 0 0 0; box-shadow: 0 -3px 5px rgba(0,0,0,0.2); color:white; }
footer div { display:table; margin:0 auto; color: rgba(255,255,255,1);
    font-size:12px; line-height:12px; vertical-align:middle; }
.div-center { text-align:center!important; float:none!important; margin:0 auto!important }
#header-container { margin-left:0; }
#header-container .dropdown-menu .divider { background-color: #e5e5e5; }
#charms { z-index: 1031; }
.fileupload { position:relative; }
.fileupload .load { position:absolute; width:100%; left:0; top:40%;
       font-size:16px; text-align:center; font-weight:bold }
.logo-min-branco { width:45px; height:25px; display:inline-block; line-height:25px;
    background-image: url('../../img/logo_rk_branco_min2.png'); }
.dropdown-menu { -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box }
.dropdown-toggle.button { margin-bottom:0 }
.modal-footer button:not(:first-child),
.modal-footer .button:not(:first-child) { margin-left:5px }
#content-fake { position: absolute; visibility: hidden; opacity:0; top:0; right:0; z-index:-1; width: 100%; }