html,body { background:white; padding: 0; overflow-x:hidden; }
#container * {
    box-sizing:border-box; -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#container { position:relative; width:1000px; margin-top:0px;
    margin-bottom:0; z-index:1; display:block; height:100%;
    padding:60px 0 0; box-sizing:border-box; overflow: visible;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
#container .body { position: relative; width: 100%;
    border-radius:8px; background:#E8E8E8; display:block;
    padding:20px; margin-bottom:460px; overflow: visible;
    -webkit-box-shadow: 7px 12px 14px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    7px 12px 14px rgba(50, 50, 50, 0.32);
    box-shadow:         7px 12px 14px rgba(50, 50, 50, 0.32);
}
.body .cabecalho { position:relative; float:left; margin-bottom: 30px }
.body .cabecalho .logo { float:left; width:270px; height:109px; display:inline-block;
    background-image: url('../../img/turmas/logo_as.png');
    background-repeat: no-repeat }
.body .cabecalho .menu { float:left; width:685px; height:60px;
    margin-top:43px; background-color:#f6f6f6;
    border-radius: 12px;
    -webkit-box-shadow: 6px 12px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    6px 12px 4px rgba(50, 50, 50, 0.2);
    box-shadow:         6px 12px 4px rgba(50, 50, 50, 0.2); }
.body .cabecalho .menu ul { float: left; list-style-type: none; width:100%;
    padding:0; margin:0; }
.body .cabecalho .menu ul li { float:left; height:28px; margin:16px 0; padding:0 }
.body .cabecalho .menu ul li a { display:block; height:28px; padding:5px 10px;
    font-size:18px; line-height:18px; color:black; text-transform: uppercase; }
.body .cabecalho .menu ul li:first-child a { margin-left:10px }
.body .cabecalho .menu ul li.adesao { float: right; margin-right:12px }
.body .cabecalho .menu ul li a.acao { font-size: 16px;
    line-height: 16px; padding:6px 10px; border-radius:6px; text-transform: initial }
.body .cabecalho .menu ul li a.acao:hover { text-decoration: none }
.body .cabecalho .menu ul li ul.dropdown-menu { margin-left:10px; margin-top: 10px;
    border:none; border-radius: 0; padding:5px 0; background-color:#d1d2d4 }
.body .cabecalho .menu ul li ul.dropdown-menu li { width: 100% }
.body .cabecalho .menu ul li ul.dropdown-menu li a { margin:0 5px; height:24px; padding:5px;
    font-size: 14px; line-height: 14px; border-radius: 6px }
.body .cabecalho .menu ul li ul.dropdown-menu li a:hover { background:initial; color: #ed2629 }
.body .banner { height:400px; width:100%; background:#d1d2d4;
    position:relative; overflow:hidden; margin-bottom: 40px;
    -webkit-box-shadow: 1px 12px 6px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px 12px 6px rgba(50, 50, 50, 0.2);
    box-shadow:         1px 12px 6px rgba(50, 50, 50, 0.2); }
.body .imagem { float: left; width:100%; height:230px;
    background-color:transparent; padding: 0; margin: 0;
    margin-bottom: 20px; overflow: hidden }
.body .imagem img { width:100% }
.body .descricao { font-size: 20px; line-height: 25px; color: black;
    word-wrap: break-word }
.body .video { float: left; width:100%; min-height:260px;
    background-color:#333; padding: 0; margin: 0 }
.body .declaracao { float: left; width:100%; min-height:255px;
    background-color:#f1f1f1; padding: 0; margin: 0; border-radius: 12px;
    -webkit-box-shadow: 6px 10px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    6px 10px 4px rgba(50, 50, 50, 0.2);
    box-shadow:         6px 10px 4px rgba(50, 50, 50, 0.2); }
.body .box-plugin { float: left; min-height:300px;
    background-color:#f1f1f1; padding: 10px;
    margin-bottom: 30px; border-radius: 12px;
    -webkit-box-shadow: 6px 10px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    6px 10px 4px rgba(50, 50, 50, 0.2);
    box-shadow:         6px 10px 4px rgba(50, 50, 50, 0.2); }
.body .asinho { float: right; width: 100%; min-height:260px;
    background-image:url('../../img/turmas/asinho.png');
    background-position: center center;
    background-size: auto 260px;
    background-repeat: no-repeat }