html,body { background:#d1d2d4 }
#container { width:960px; margin-top:20px; margin-bottom:20px;
    padding:10px 25px 20px; border-radius:6px; background:white;
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.logo { margin:10px 0 }
.logo img { margin-left:25px }
.cabecalho { position:relative }
.cabecalho .banner { height:400px; background:#d1d2d4; position:relative;
    border-radius:6px 6px 0 0; overflow:hidden; }
.cabecalho .menu-navegacao { position:relative; bottom:0; left:0; height:70px;
    width:1000px; background:#ed2629; margin-left:-45px; margin-bottom:50px;
    border-top:solid 1px rgba(255,255,255,.3) }
.cabecalho .menu-navegacao ul { float:left; margin:0; padding:0; margin-left: 45px;
    margin-top:23px }
.cabecalho .menu-navegacao ul li { float:left;margin-left:20px; list-style-type:none }
.cabecalho .menu-navegacao ul li:first-child { margin-left:0; }
.cabecalho .menu-navegacao ul li a { font-size:18px; color:white }
.cabecalho .menu-navegacao:before { position:absolute; top:-26px; left:0;
    width:0; height:0; border-style: solid; border-width:0 0 25px 20px;
    border-color: transparent transparent #b32025 transparent; content:'' }
.cabecalho .menu-navegacao:after { position:absolute; top:-26px; right:0;
    width:0; height:0; border-style: solid; border-width:25px 0 0 20px;
    border-color: transparent transparent transparent #b32025; content:'' }
.squad { border-radius:10px; background:#ededed; height:340px }
.fake-foto { width:100%; position:relative; display:inline-block;
    border:6px solid #f7f7f7; height:auto; border-radius:4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); background:white;
    box-sizing:border-box; -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; }
.fake-foto img { width: 100%; height:auto; display:block; float:left }
.fake-foto img:not(:first-child) { border-top:6px solid #f7f7f7 }
.itens .item { background: white; padding:15px; padding-left: 0 }
.itens .item .img { float:left; margin-right:15px; height:auto;
    width:180px; overflow: hidden; display:inline-block; }
.itens .item .img img { width: 100%; height:auto;
    display: inline-block !important }
.itens .item h3 { color:#149fd3 }
.itens .item p {font-size:18px; line-height: 24px }
.lista-fotos { margin-top:40px }
.lista-fotos [class*="span"] img { width: 100%; height:auto; display:block; float:left }
.rodape { border-radius:6px; background:#ce171f; height:50px; margin:40px 0; }