.banner ul {
    list-style: none;
    width: 300%;
    margin:0
}
.banner ul li {
    display: block;
    float: left;
    width: 33%;
    height:400px;

    -o-background-size: 100%;
    -ms-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.banner .btn, .banner .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
    position: absolute;
    right:10px;
    bottom:10px;
    margin:0;
}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
    .banner ul li {
        height: 240px;
    }
    .banner .inner {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}