<span id="conteudo-titulo" class="box-com-titulo-header">Parcelamento</span>
<div id="conteudo-container">
	<?php $session->flash(); ?>
	<div class="tabela-adicionar-item">
		<?php echo $html->link('Apagar ParcelaMaker',array($this->params['prefix'] => true,'action' => 'apagar',$parcelamaker['Parcelamento']['id'])); ?>
		<div style="clear:both;"></div>
	</div>
	<?php include('_index.ctp');?>
</div>