.add-on { border-width:1px!important; height:18px!important; line-height:18px }
.chzn-container { line-height:16px }
.chzn-container-single .chzn-single div b { top:2px!important; }
.chzn-container-single .chzn-single span { position:relative; top:2px }
.well { width:98%; padding:1%; background:white }
.carregado { float:left; margin-right:10px; padding:1px 8px; font-size:14px; border-radius:3px; background:#333;
    color:white; }
.lista-email { margin:0; padding:0; list-style: none; }
.lista-email li { padding: 3px 10px }
.lista-email li.opcoes { padding:0; margin-bottom:10px }
.lista-email li.header { background-color:#2e8bcc; color:white; margin-bottom:10px }
.lista-email li .email > div { min-height:25px; height: 25px; line-height: 25px }
.lista-email li .email > div > i { color:rgba(51,51,51,.5); line-height: 25px; vertical-align:top }
.lista-email li .email > div > i.none { color:white }
.lista-email li .email > div > i:last-child { margin-right:10px }
.lista-email li:hover .email > div > i.none { color:#e5e5e5!important; text-shadow:none!important }
.lista-email li .email > div > span { line-height: 25px }
.lista-email li .email > div.data > span { font-style:italic!important }
.lista-email li .email > div.order > div { position:relative; display: inline-block }
.lista-email li .email > div.order > div > i { line-height:20px; position: absolute; right:-4px; top:3px; color:white }
.lista-email li .email > div.order > div:last-child > span { margin-right:10px }
.lista-email li:nth-child(odd) .email > div > i.none { color:#f5f5f5 }
.lista-email li .email > div.order:hover > div { cursor: pointer }
.lista-email li .email > div.order > div:hover > span { text-decoration: underline }
.lista-email.tmp li:nth-child(odd) { background: #f5f5f5; }
.lista-email.tmp li:hover { background: #e5e5e5; cursor:pointer; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
.lista-email.tmp li.nao-lida { color:#c41b14 }
.lista-email.tmp li.nao-lida div { font-weight:bold }
.lista-email.tmp li div { overflow:hidden!important }
.lista-email li .nome { position: relative; }
.lista-email li .nome.formando,
.lista-email li .nome.funcionario { text-indent: 12px }
.lista-email li .nome.formando:before {
    position:absolute;
    top:0px;
    left:-12px;
    font-family: 'IcoMoon';
    font-size: 11px;
    content: '\0060';
}
.lista-email li .nome.funcionario:before {
    position:absolute;
    top:0px;
    left:-12px;
    font-family: 'IcoMoon';
    font-size: 11px;
    content: '\0031';
}
.lista-email.tmp li .assunto .trecho { font-style:italic; text-indent:5px; color:rgba(51,51,51,.8);
    font-weight:normal!important }
.lista-email.tmp li .nome.carregando { position:relative }
.lista-email.tmp li .nome.carregando:after { position:absolute; left:0; top:-3px;
    padding:3px 10px; border-radius:3px; background:#333; color:white; content:'Aguarde' }
.lista-email li.line { margin:0; padding:10px 0 0 0 }
.dropdown-menu.mini { padding: 0 }
.dropdown-menu.mini.itens-por-pagina { min-width: 120px; }
.dropdown-menu.mini li { padding:3px }
.dropdown-menu.mini li a { padding:3px; font-size: 13px }
.dropdown-menu.mini li.active a { color:white }
.destaque { padding:1px; background: yellow; color:black; border-radius: 3px }