.mailbox { width:100%; position:relative; float:left; margin:0; padding:0;
    border:solid 1px #bb2f0e; border:none }
.mailbox .mailbox-navigation { float:left; margin:0; width:100%; padding:0;
    border:0; /*border-bottom:solid 1px #cccccc;*/ background-color:transparent }
.mailbox .mailbox-navigation li { position:relative; background: transparent;
    margin:0; /*border-right: 1px solid rgba(255,255,255,0.2);*/ }
.mailbox .mailbox-navigation li a { margin:0; background-color:transparent;
    border:transparent; color:#bb2f0e; padding:12px 30px;
    font-size: 13px; line-height:13px; }
.mailbox .mailbox-navigation li a i { vertical-align:text-bottom; margin-right:0px;
    font-size: 14px }
.mailbox .mailbox-navigation li.active a { font-weight: bold; color:#666666;
    /*border-top: solid 2px #bb2f0e;*/background-color:#cccccc }
.mailbox .mailbox-navigation li.actwive:after { position:absolute; top:0; right:0px;
    height:0; width:0; content:''; border:solid 20px transparent;
    border-right:solid 7px white; }
.mailbox .mailbox-navigation li.active a:hover { border-top:none; border-left:none; border-right:none }
/*91233B*/
.mailbox .mailbox-contents { width: 100%; float: left;
    /*border:solid 1px #cccccc;*/ border-top:none; margin-top:20px; }
.mailbox-contents .mailbox-messages { float:left; width:35%; margin: 0;
    padding: 0; min-height:320px; background-color:#fafafa;/*border-right:solid 1px #cccccc*/ }
.mailbox-messages .options { float:left; width:94%; padding:3%;
    background-color:#cccccc; height:30px; }
.mailbox-messages .search { float:left; width:94%; padding:3%;
    /*border-bottom:solid 1px #cccccc*/ }
.mailbox-messages .search button { margin-bottom:0!important; background-color:#bb2f0e;
    color:white }
.mailbox-messages ul.preview { float: left; margin:0; padding:0;
    position:relative; width:100%; list-style-type:none; }
.mailbox-messages ul.preview li { float:left; width:90%; padding:4%; cursor:pointer;
    padding-right:6%; line-height:auto!important; margin:0;
    position:relative; /*border-bottom:solid 1px #cccccc*/ }
.mailbox-messages ul.preview li .image { height:40px; width:40px; float: left;
    background:#333; margin-right:3% }
.mailbox-messages ul.preview li .title { display:block;
    font-size: 13px; line-height:13px }
.mailbox-messages ul.preview li .title .name { font-weight:bold }
.mailbox-messages ul.preview li .title .data { font-size: 11px }
.mailbox-messages ul.preview li .title .status i { width:13px; height:13px;
    font-size: 13px; line-height:13px; color:#cccccc }
.mailbox-messages ul.preview li .title .status i.favorita { color:#DBA9A9 }
.mailbox-messages ul.preview li .title .subject { letter-spacing:-1px }
.mailbox-messages ul.preview li.active { background-color:#333333 }
.mailbox-messages ul.preview li.active .name,
.mailbox-messages ul.preview li.active .subject,
.mailbox-messages ul.preview li.active .data { color:white }
.mailbox-messages ul.preview li.actidve:after { position:absolute; top:0; right:-42px;
    height:0; width:0; content:''; border:solid 32px transparent;
    border-left:solid 10px #333333; }
.mailbox-contents .mailbox-panel { position:relative; float:left; width:57%;
    height:303px; max-height:303px; margin-left:3%; padding:0 2%; padding-bottom:15px;
    background-color:white; box-shadow: 0 1px 0 0 #f7f7f7,0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7,0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7,0 5px 4px -4px #d8d8d8;
    border: 1px solid #E6E6E6; overflow-y:scroll }
.mailbox-panel .body { width:100%; float:left; }
.mailbox-panel .loading { position:absolute; top:20px; right:4%;
    font-size:26px }
.body .subject { font-size:26px; line-height:26px;
    margin-top:15px; color:#bb2f0e }
.body .detail { display:block; padding:10px 0 }