/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  /* border: 0px solid #CCC; */
  border: none;
  overflow:visible;
  float:left;
  /* width:980px; */
  width:100%;
}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  /* border: 0px solid #CCC; */    
 /*  overflow:hidden; */
  clear:both;
  min-height:300px;
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute;  
  float:left;
  margin: 0;
  padding:0;
  color:#5A5655;   
  background-color:white;
  min-height:300px;
  text-align:left;
  overflow:visible;    
  z-index:88;
  width:100%;
  clear:both;
}

.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0px;  
  margin:0;
  margin-bottom:30px;  
  clear: both;
  /* border: 0px solid #CCCCCC;    */
  border:none; 
  width:100%;
  background: transparent; /*#EEEEEE */
}
.swMain ul.anchor li { 
  position: relative; 
  display:block;
  margin: 0;
  padding: 0;
  width:20%;
  /* padding-left:3px;
  padding-right: 3px; */
  border: 0px solid #E0E0E0;      
  float: left;
}

.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  width:86%;
  padding:5% 0 7% 5%;
  text-decoration: none;
  outline-style:none;
  z-index:99;
  cursor:pointer;
}
.swMain ul.anchor li:last-child a { width:100% }
.swMain ul.anchor li a .stepNumber {
  position:relative;
  float:left;
  line-height: 34px!important;
  text-align: center;
  padding-top:0;
  font:bold 34px Verdana, Arial, Helvetica, sans-serif;
  margin:0;
  margin-right:10px;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  font-weight:400;
  font-size:16px;
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
  display:block;
  font-size:11px;
  font-weight:200;
  padding-top:2px;
  margin-left:8px;
}
.swMain ul.anchor li a.done { color:#FFF; background: #8CC63F; border: 1px solid #8CC63F; z-index:99; }
.swMain ul.anchor li a.done:hover { color:#5A5655; }
.swMain ul.anchor li a.selected,
.swMain ul.anchor li a.error { color:#F8F8F8; background:#D91818; border:solid 1px #D91818; }
.swMain ul.anchor li a.selected:after { position:absolute; bottom:-12px; left:9px;
    height:0; width:0; border:solid 12px transparent; border-left-color:#D91818;
    content:"" }
.swMain ul.anchor li a.selected:hover,
.swMain ul.anchor li a.error:hover { color:#F8F8F8; }
.swMain ul.anchor li a.disabled { background:#eaeaea; color:#A3A3A3; border:solid 1px #eaeaea; cursor: not-allowed }
.swMain ul.anchor li a.error:before { position:absolute; top:10px; right:10px; height:18px; width:18px;
	font-family: 'IcoMoon'; font-size: 18px; -webkit-font-smoothing: antialiased; font-style: normal;
	font-weight: normal; line-height: 18px; background-image: none; background-position: inherit;
	color:white; speak: none; content:"\e126"; }

.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:0;
  border-top:none;
  text-align:left;
  overflow:auto;    
  z-index:60;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  left:0;
}

.swMain div.actionBar .button { display:block; position:relative; float:right;
    margin:5px 3px 0 3px; font-size:14px; font-weight:300; color:white;
    text-decoration: none; text-align:right; width:100px; }
.swMain div.actionBar .buttonDisabled { background-color: #eaeaea!important;
    color: #bebebe!important; cursor: not-allowed; }
.swMain div.actionBar .buttonNext:not(.buttonDisabled) { background-color:#2d89ef; }
.swMain div.actionBar .buttonNext:not(.buttonDisabled):after { position:absolute;
    top:8px; left:10px; height: 14px; width: 14px; font-family: 'IcoMoon'; font-size: 14px;
    -webkit-font-smoothing: antialiased; font-weight: normal; line-height: 14px;
    color:white; speak: none; content:"\e049"; }
.swMain div.actionBar .buttonPrevious:not(.buttonDisabled) { background-color:#f07d00 }
.swMain div.actionBar .buttonPrevious:not(.buttonDisabled):after { position:absolute;
    top:8px; left:10px; height: 14px; width: 14px; font-family: 'IcoMoon'; font-size: 14px;
    -webkit-font-smoothing: antialiased; font-weight: normal; line-height: 14px;
    color:white; speak: none; content:"\e04d"; }
.swMain div.actionBar .buttonFinish { margin-right:9% }
.swMain div.actionBar .buttonFinish:not(.buttonDisabled) { background-color:#D91818; }
.swMain div.actionBar .buttonFinish:not(.buttonDisabled):after { position:absolute;
    top:8px; left:10px; height: 14px; width: 14px; font-family: 'IcoMoon'; font-size: 14px;
    -webkit-font-smoothing: antialiased; font-weight: normal; line-height: 14px;
    color:white; speak: none; content:"\e150"; }

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
}