<span id="conteudo-titulo" class="box-com-titulo-header">Lista de agendamentos</span>
<div id="conteudo-container">
    <?php $session->flash(); ?>
    <div class="container-tabela">
        <?php
        echo $listaAgenda->html($data);
        ?>
    </div>
</div>