<div class="row-fluid">
	<?php 
		$session->flash();
	?>
	<p class="bold">
            <h3>Seu cadastro foi efetuado com sucesso. 
                <a href="/usuarios/login" class="fg-color-green">Clique Aqui</a> para acessar o sistema.
            </h3>
        </p>
</div>