<span id="conteudo-titulo" class="box-com-titulo-header">Gerar Contratos</span>
<div id="conteudo-container">
	<?php $session->flash(); ?>
	<?php echo $form->create('Parametros', array('url' => "/{$this->params['prefix']}/contratos/contratos", 'type' => 'post')); ?>
	<?php include('_form.ctp'); ?>
	
	<p class="grid_12 alpha omega">
		<?php echo $form->submit('Contrato Base',array('name'=>'Botao', 'value' =>'BC', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo A',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo B',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo B2',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo C',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo D',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->submit('Anexo E',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 		
		<?php echo $form->submit('Anexo F',array('name'=>'Botao', 'value' =>'botao1', 'div' => false, 'class' => 'submit')); ?> 
		<?php echo $form->end();?>
	</p>
</div>