.wizard {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #d4d4d4;
    /*
    background-color: #f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    */
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.wizard .metro-button { position: absolute; right:10px; top:5px; font-size:12px }

.wizard:before,
.wizard:after {
    display: table;
    line-height: 0;
    content: "";
}

.wizard:after {
    clear: both;
}

.wizard ul {
    width: 4000px;
    padding: 0;
    margin: 0;
    list-style: none outside none;
}

.wizard ul.previous-disabled li.complete {
    cursor: default;
}

.wizard ul.previous-disabled li.complete:hover {
    color: #468847;
    cursor: default;
    background: #f3f4f5;
}

.wizard ul.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #F7F7F7;
}

.wizard ul li {
    position: relative;
    float: left;
    height:34px;
    padding: 0 20px;
    margin: 0;
    font-size: 15px;
    line-height:34px;
    color: #333333;
    font-weight: 500;
    cursor: default;
    background: white;
}

.wizard ul li:hover {
    cursor: pointer!important;
}

.wizard ul li .chevron {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
    display: block;
    border:18px solid transparent;
    border-right: 0;
    border-left: 10px solid #d4d4d4;
}

.wizard ul li .chevron:before {
    position: absolute;
    top: -19px;
    right: 1px;
    display: block;
    border: 18px solid transparent;
    border-right: 0;
    border-left:10px solid white;
    content: "";
}

.wizard ul li.complete {
    color: #468847;
    /*background: #F7F7F7;*/
}

.wizard ul li.complete:hover {
    cursor: pointer;
    /*background: #e7eff8;*/
}

.wizard ul li.complete:hover .chevron:before {
    /*border-left: 10px solid #e7eff8;*/
}

.wizard ul li.complete .chevron:before {
    /*border-left: 10px solid #f3f4f5;*/
}

.wizard ul li.active {
    color: #3a87ad;
    background: #f1f6fc;
}

.wizard ul li.active .chevron:before {
    border-left: 10px solid #f1f6fc;
}

.wizard ul li .badge {
    margin-right: 8px;
}

.wizard ul li:first-child {
    padding-left: 20px;
    /*border-radius: 4px 0 0 4px;*/
}

.wizard ul li.final {
    background:#468847;
    color:white;
    text-shadow: -1px 0 1px rgba(0,0,0,.7);
}

.wizard ul li.final .chevron {
    border-left:#468847;
}

.wizard ul li.final .chevron:before {
    border-left:10px solid #468847;
}

.wizard .actions {
    position: absolute;
    right: 0;
    z-index: 1000;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    line-height:34px;
    vertical-align: middle;
    background-color: #e5e5e5;
    border-left: 1px solid #d4d4d4;
}

.wizard .actions a {
    margin-right: 8px;
    font-size: 12px;
    line-height:35px;
}

.wizard .actions .btn-prev i {
    margin-right: 5px;
}

.wizard .actions .btn-next i {
    margin-left: 5px;
}

.step-content {
    min-height:350px;
    border: 1px solid #D4D4D4;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 30px 20px 10px 20px;
}
.step-content .step-pane {
    display: none;
}

.step-content .active {
    display: block;
}

.step-content .active .btn-group .active {
    display: inline-block;
}