<p class="grid_11 alpha omega">
	<label class="grid_5 alpha">Extra</label>
	<span class="grid_8 alpha first"><?php echo $extra['Extra']['nome']; ?></span>
</p>

<p class="grid_11 alpha omega">
	<label class="grid_5 alpha">Descrição</label>
	<span class="grid_8 alpha first"><?php echo $extra['Extra']['descricao']; ?></span>
</p>