<div style="overflow:hidden; width:100%" class="clearfix">
	<div class="legenda" style="width:98%; margin:20px 0 30px 0; border:1px solid #989999">
		<div style='color:#AA0000'>
			<img src="<?=empty($formando['diretorio_foto_perfil']) ? "{$this->webroot}img/uknown_user.gif" : "{$this->webroot}{$formando['diretorio_foto_perfil']}"?>" style='float:left; margin:0 5px 15px 0; width:120px' />
			<p>
				<strong style='text-transform:uppercase'><?=$formando['nome']?></strong>
				<br />
				<em><?=$formando['grupo']?></em>
				<br />
				<em>Código <?=$formando['codigo_formando']?></em>
				<br />
				<em>RG <?=$formando['rg']?></em>
			</p>
		</div>
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td colspan="2" width="50%"><h2 class='titulo'>Informa&ccedil;&otilde;es da ades&atilde;o</h2></td>
							<td colspan="2" width="50%"><h2 class='titulo'>Resumo financeiro</h2></td>
						</tr>
						<tr height="5">
							<td colspan="4"></td>
						</tr>
						<tr>
							<td width="25%">Data contrato da Turma</td>
							<td width="25%"><?=date('d/m/Y', strtotime($turma['Turma']['data_assinatura_contrato']));?></td>
							<td width="25%">Valor de Contrato</td>
							<td width="25%" class='valor-contrato'>R$<?=number_format($formando['valor_adesao'],2,',','.');?></td>
						</tr>
						<tr>
							<td>Data Adesão</td>
							<td><?=date('d/m/Y', strtotime($formando['data_adesao']));?></td>
							<td>Valor de IGPM</td>
							<td><?=$totalIGPM > 0 ? "R$" . number_format($totalIGPM,2,',','.') : "-";?></td>
						</tr>
						<tr>
							<td>Data IGPM</td>
							<td><?=!empty($turma['Turma']['data_igpm']) ? date('d/m/Y', strtotime($turma['Turma']['data_igpm'])) : "IGPM ainda não aplicado";?></td>
							<td>Valor de Contrato c/ Correção</td>
							<td class='total-contrato'>R$<?=number_format($formando['valor_adesao']+$totalIGPM,2,',','.');?></td>
						</tr>
						<tr>
							<td>Mesas do contrato</td>
							<td class='qtde-mesas'><?=$turma['Turma']['mesas_contrato'];?></td>
							<td>Saldo de Campanhas</td>
							<td class='saldo-campanhas'><?=$totalDespesasExtras > 0 ? "R$".number_format($totalDespesasExtras,2,',','.') : "-"?></td>
						</tr>
						<tr>
							<td>Convites do contrato</td>
							<td class='qtde-convites'><?=$turma['Turma']['convites_contrato'];?></td>
							<td>Total Recebido</td>
							<td class='total-pago'><?=$totalPago > 0 ? "R$".number_format($totalPago,2,',','.') : "-"?></td>
						</tr>
                                                <?php if($turma['Turma']['id'] == 5673){ ?>
                                                <tr>
							<td>Convites de Jantar</td>
							<td class='qtde-convites'>10</td>
						</tr>
                                                <?php } ?>
						<?php if($itensExtras) : ?>
						<tr>
							<td colspan='2'></td>
							<td colspan='2'>
								<br />
								<h3><strong>Itens vendidos no checkout</strong></h3>
							</td>
						</tr>
						<?php foreach($itensExtras as $itemExtra) : ?>
						<tr>
							<td colspan='2'></td>
							<td><?=$itemExtra['titulo']?></td>
							<td class='saldo-item-<?=$itemExtra['id']?>'>-</td>
						</tr>
						<?php endforeach; ?>
						<?php endif; ?>
						<tr>
							<td colspan='2' style='padding-top:15px'>&nbsp;</td>
							<td class='saldo-total-label' style="color:<?=$saldoTotal > 0 ? "green" : ($saldoTotal == 0 ? "yellow" : "red")?>">
								Saldo<?=$saldoTotal > 0 ? " Positivo" : ($saldoTotal < 0 ? " Negativo" : "")?>
							</td>
							<td class='saldo-total'>
								<?=$saldoTotal > 0 ? "R$".number_format($saldoTotal,2,',','.') : ($saldoTotal == 0 ? "-" : "R$".number_format($saldoTotal*-1,2,',','.'))?>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>