<div style="width: 750px;margin:0 auto; text-align: center;">
<?php  
        echo $form->create('YourModel', array('url' => "/formandos/uploadimg3","enctype" => "multipart/form-data"));      ?>
			<label class="grid_3 alpha omega" style = "font-family: Myriad, Arial, Verdana, Sans Serif;	color: #575756;">
			 Selecione uma &aacute;rea da foto e salve a imagem.</label>
			<input type="submit" class="submit" id="save_thumb" value="Salvar" style="float: right;"/>
			<?php	
				echo $cropimage->createJavaScript($uploaded['imageWidth'],$uploaded['imageHeight'],151,151);  
				echo $cropimage->createForm($uploaded["imagePath"], 150,150);
			?>
	
	</form>

	<?php echo $form->create('YourModel', array('url' => "/formandos/uploadimg2", "enctype" => "multipart/form-data"));?>

	<p class="grid_full alpha omega">
		<label class="grid_3 alpha omega" style = "font-family: Myriad, Arial, Verdana, Sans Serif;	color: #575756;">
			Escolha outra foto:</label>
			<?php 
				echo $form->input('image',array("type" => "file", 'label' => false, 'div' => false, 'class' => 'grid_7'));
				echo $form->end(array('label' => 'Enviar', 'div' => false, 'class' => 'submit'));
			?>
	</p>
</div>