<div style="width: 750px;margin:0 auto; text-align: center;">
<?php $session->flash(); ?>
<?php echo $form->create('YourModel', array('url' => "/formandos/uploadimg2", "enctype" => "multipart/form-data"));?>

<p class="grid_full alpha omega">
	<label class="grid_3 alpha omega" style = "font-family: Myriad, Arial, Verdana, Sans Serif;	color: #575756;">
		Escolha uma foto:</label>
		<?php 
			echo $form->input('image',array("type" => "file", 'label' => false, 'div' => false, 'class' => 'grid_7'));
			echo $form->end(array('label' => 'Enviar', 'div' => false, 'class' => 'submit'));
		?>
	
</p>
</div>