<div class='info info-sucesso grid_full first alpha'>
	<?php if(is_array($content_for_layout)) : foreach($content_for_layout as $message) : echo "$message<br />"; endforeach; ?>
	<?php  else : echo $content_for_layout; endif; ?>
	<div style='clear:both;'></div></div>
<div style="clear:both;"></div>